*.swp
src/simulator/__pycache__/
src/simulator/exp/
src/simulator/.ipynb_checkpoints/
src/.vscode/
src/RL_results/
src/.vscode/
src/full_arm/summaries
src/full_arm/.ipynb_checkpoints/
src/full_arm/summaries_kinova
src/full_arm/summaries_kinova_camera
src/simulator2/summaries
src/.experiments/
src/.targets/
*.png
*.pyc
*.csv
*.avi
*.npy
*.out
*.avi
*.pth
*.pdf
*.mp4
.ipynb_checkpoints/
*.zip
src/.data*/

